body{
    min-height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}
.instructions h2{
    text-align: center;
    color: darkgray;
}
.instructions__toggle-text{
    color: darkslateblue;
    cursor: pointer;
}
.interractive-components__query{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: large;
}
.help-content_hidden{
    display: none;
}
.interractive-components__calculate-button{
    display: block;
    margin: 20px auto;
    padding: 10px;
    color: steelblue;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
}
.interractive-components__calculate-button:hover{
    box-shadow: 1px 1px 2px gray;
}